DOCKER_IMAGE=bobur3884/kassa-app-front:latest
APP_PORT=3001
VITE_API_BASE_URL=http://91.99.215.33:7001
VITE_APP_TITLE=Kassa System
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_DEV_ALLOWED_HOSTS=.ngrok-free.app,.ngrok-free.dev
